#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-size: 30px;
}

input {
  padding: 20px 10px;
  border: 1px solid #222;
  border-radius: 13px;
  font-size: 30px;
}

.submitButton {
  background-color: rebeccapurple;
  color: white;
}

.submitButton:disabled {
  color: black;
  background: #ccc;
}